header{
    /* Topo */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 1440px;
height: 467px;
left: 0px;
top: 0px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 64px 0px;
}




.banner{
    display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 32px;

position: static;
width: 1440px;
height: 352px;
left: 0px;
top: 115px;
}


.background {
/* imagemhero */
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(Imagenes/mushroom.png);
background-repeat: no-repeat;
}

.tituloBanner{
    position: static;
    width: 751px;
    height: 61px;
    left: 0px;
    top: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    /* identical to box height */


    /* Preto/branco */

    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.subtituloBanner{
    position: static;
    width: 751px;
    height: 26px;
    left: 0px;
    top: 77px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    
    
    /* Preto/branco */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.btnVerConsolas{

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;

position: static;
width: 129px;
height: 51px;
left: 0px;
top: 119px;

/* Azul/100% */

background: #2A7AE4;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 16px 0px;




font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* Preto/branco */

color: #FFFFFF;
}